<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="tarjetas.css">

  <title>Refugio de Mascotas VM</title>
</head>

<body>

  <header class="header">
    <div class="header__content">
      <a href="/" class="logo">
        <img class="logo__img" src="logo.png" alt="logo">
      </a>
  
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Animales</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Fundación</a>
          </li>
         
          <li class="nav__item" ">
            <a class="btn" href="/dashboard" style="background-color: black;">Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="tarjetas">
  <div class="tarjeta">
    <img src="/house.png" width="200px" alt="">
    <p>Datos del refugio</p>

    <form id="refugioForm" class="formulario">
      <div class="grupo">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      <div class="grupo">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
      </div>
      <div class="grupo">
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia" required>
      </div>
      <div class="grupo">
        <label for="localidad">Localidad:</label>
      <input type="text" id="localidad" name="localidad" required>
      </div>
      <div class="grupo">
        <label for="codigoPostal">Código Postal:</label>
        <input type="text" id="codigoPostal" name="codigoPostal" required>
      </div>
      <div class="grupo">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
      </div>
      <button id="guardarDatosRefugio" type="submit">Guardar</button>
    </form>
  </div>
  <div class="tarjeta">
    <img src="/boton-mas.png" width="200px" alt="">
    <p>Agregar mascota</p>
    <form id="mascotaForm" class="formulario">
      <div class="grupo">
        <label for="nombreMascota">Nombre:</label>
        <input type="text" id="nombreMascota" name="nombreMascota" required>
      </div>
     
      <div class="grupo"><label for="clase">Clase:</label>
        <select id="clase" name="clase" required>
          <option value="" disabled selected>Seleccionar clase</option>
          <option value="gato">Gato</option>
          <option value="perro">Perro</option>
          <option value="conejo">Conejo</option>
          <option value="cobayo">Cobayo</option>
          <option value="ave">Ave</option>
        </select></div>
      <div class="grupo"><label for="edad">Edad:</label>
        <input type="text" id="edad" name="edad" required></div>
      <div class="grupo"><label for="raza">Raza:</label>
        <input type="text" id="raza" name="raza" required></div>
      <div class="grupo"><label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
          <option value="" disabled selected>Seleccionar estado</option>
          <option value="en_adopcion">En Adopción</option>
          <option value="adoptado">Adoptado</option>
          <option value="en_transito">En Tránsito</option>
        </select></div>
      <div class="grupo"></div>


      <button id="guardarNuevoAnimal">Guardar</button>
    </form>

  </div>
  <div class="tarjeta" style="text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
" >
    <img src="/lista.png" width="200px" alt="">
    <p>Importación masiva (xls)</p>

    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" id="archivoExcel" name="archivoExcel" accept=".xlsx, .xls">
      <button type="submit">Cargar archivo Excel</button>
    </form>

  </div>
    
  </section>

  <div id="tablaMascotasContainer"></div>

  <script src="/scripts/refugio.js"></script>
<script src="/scripts/mascota.js"></script>
<script src="/scripts/tablaMascotas.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/upload.js"></script>



</body>

</html>